#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.launches-container {
  display: flex;
  flex-direction: column;
}

.launch-item {
  display: flex;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 1em;
  flex-direction: column;
}